
<h1>Details of your most recent bookings</h1>
<hr>
  <h2><%= @booking.yacht.name %></h2>
  <p><strong>Maximum Guests:</strong> <%= @booking.yacht.max_guest %></p>
  <p><strong>Number of Cabins:</strong> <%= @booking.yacht.cabin %></p>
  <p><strong>Onboard Chef:</strong> <%= Faker::Name.name_with_middle %> who has <%= Faker::Number.between(from: 10, to: 30) %>+ years experience!</p>
  <p><strong>Onboard Driver:</strong> <%= Faker::Name.name_with_middle %> who has <%= Faker::Number.between(from: 10, to: 30) %>+ years experience!</p>
  <p><strong>Start Date</strong> <%= @booking.start_date %></p>
  <p><strong>End Date</strong> <%= @booking.end_date %></p>
  <%= image_tag @booking.yacht.yacht_image, class: "yacht_photos-show" %>
  <p><strong>The total cost for this booking amounted to £<%= @booking.total_price %></strong> calculated for the duration of <%= (@booking.end_date - @booking.start_date).to_i %> days at a rate of £<%=@booking.yacht.price_per_day %>  per day</p>
  <p></p>

</ul>
