<h1>Details of your most recent bookings</h1>
<hr>

<div class="container-for-booking-show" style="display: flex;">

<div style="margin-top: 1vw;">
 <%= image_tag @booking.yacht.yacht_image, class: "yacht_photos-show" %>
</div>

<div class="container-for-booking-show-info" style="margin-left: 2vw; margin-top: 1vw;">
  <h2><%= @booking.yacht.name %></h2>
  <p><strong>Maximum Guests:</strong> <%= @booking.yacht.max_guest %></p>
  <p><strong>Number of Cabins:</strong> <%= @booking.yacht.cabin %></p>
  <p><strong>Onboard Chef:</strong> <%= Faker::Name.name_with_middle %> who has <%= Faker::Number.between(from: 10, to: 30) %>+ years experience!</p>
  <p><strong>Onboard Driver:</strong> <%= Faker::Name.name_with_middle %> who has <%= Faker::Number.between(from: 10, to: 30) %>+ years experience!</p>
  <p><strong>Start Date</strong> <%= @booking.start_date %></p>
  <p><strong>End Date</strong> <%= @booking.end_date %></p>
  <p><strong>The total cost for this booking amounted to £<%= @booking.total_price %></strong> calculated for the duration of <%= (@booking.end_date - @booking.start_date).to_i %> days at a rate of £<%=@booking.yacht.price_per_day %>  per day</p>
  <p></p>
  <button class="button-yacht-show-booking" style="margin-left: 0vw;">
<%= link_to 'View All Bookings', user_all_bookings_path %>
</button>
</div>

</div>
