<div class="navbar-custom-styling">
  <h4>
    <a class="btn btn-info" href="<%= yachts_path %>">
      <i class="fas fa-sailboat custom-icon"></i> Current Yachts Available
    </a>

    <a class="btn btn-info" href="<%= new_yacht_path %>">
    <i class="fa-sharp fa-solid fa-circle-plus custom-icon"></i> List your Yachts
    </a>

  </h4>

  <% if user_signed_in? %>

    <a class="custom-icon" href="<%= user_all_bookings_path(current_user) %>">
    <i class="fa-sharp fa-solid fa-handshake custom-icon"></i>      You currently have
      <%= Booking.where(user_id: current_user.id).count %>
      Bookings
                <% end %>


  <div class="log-in-navbar-item">
    <% if user_signed_in? %>
      <h4>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
      </h4>
    <% else %>
      <h4>
        <%= link_to 'Create new account', new_user_registration_path, class: "btn btn-primary"   %>
      </h4>
      <h4>
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary"  %>
      </h4>
    <% end %>
  </div>
</div>
