 <style>
.yacht_photos{
  width: 30%;
  height: 30%;
  border-radius: 10px;
}
</style>

  <h1>Available Yachts</h1>
  <hr>
  <ul>
<% @yachts.each do |yacht| %>
    <h2><%= yacht.name %></h2>
    <%= image_tag yacht.yacht_image, class: 'yacht_photos' %>
    <p><strong>Maximum Guests:</strong> <%= yacht.max_guest %></p>
    <p><strong>Cabin Count:</strong> <%= yacht.cabin %></p>
    <p><strong>Price per Day:</strong> £<%= yacht.price_per_day %></p>
    <p><strong>Description:</strong> <%= yacht.description %></p>
    <p><a href="<%= yacht_path(yacht) %>">View Details</a></p>
<% end %>

  </ul>
