<style>
  ul{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
    justify-content: space-evenly;

  }
  .card {
    width: 46vw;
    height: 15vw;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* margin-top: 10px; */
    /* margin-right: 25px; */
    margin: 10px;
  }

  .right-section {
    background-color: lightblue;
    margin-right: 10px; /* Add a small gap between left and right sections */
    width: 40%;
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflowing content */
    width: 60%;
    /* flex-grow: 4; */
  }

  .left-section img {
    width: 28vw; /* Ensure the image doesn't exceed the right section's width */
    height: 15vw; /* Ensure the image doesn't exceed the right section's height */
  }

  .info {
    height: 13vw;
    width: 17vw;
  }

  .detail-btn {
    margin-left: 20px;
  }

  #btn-text {
    color: aliceblue;
    text-decoration: none; 
  }

  h2 {
        margin-bottom: 20px;
}

  h2, p {
    margin-left: 25px;
    font-size: 1.1vw; 
  }

  p {
        margin-left: 25px;
    font-size: 0.8vw;
    margin-top: 12px;
  }
</style>

<h2>Available Yachts in <%= Time.now.strftime('%B, %Y') %></h2>
<hr>
<ul>


  <% @yachts.each do |yacht| %>
    <div class="card">
      <div class="left-section">
        <%= image_tag yacht.yacht_image, class: 'yacht_photos' %>
      </div>
      <div class="right-section">
        <div class="info">
        <h2><%= yacht.name %></h2>
        <p><strong>Maximum Guests:</strong> <%= yacht.max_guest %></p>
        <p><strong>Cabin Count:</strong> <%= yacht.cabin %></p>
        <p><strong>Price per Day:</strong> £<%= yacht.price_per_day %></p>
        <p><strong>Description:</strong> <%= yacht.description %></p>
        </div>
        <div class="detail-btn">
        <button type="button" class="btn btn-primary"> <a id="btn-text" href="<%= yacht_path(yacht) %>">View Details</a>
        </div>
      </div>
    </div>
  <% end %>

</ul>

<!-- HTML !-->
<button class="button-18" role="button">Button 18</button>

