
<h1>Yachts</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<h2>Available Yachts in <%= Time.now.strftime('%B, %Y') %></h2>
<hr>
<ul class= "yacht-card-rows">

  <% @yachts.each do |yacht| %>
    <div class= "yacht_cards-in-index-page">
      <div class="left-section">
        <%# <%= image_tag yacht.yacht_image, class: 'yacht_photos' %>
      </div>
      <div class="right-section">
        <div class="info">
        </div>
        <h2><%= yacht.name %></h2>
        <p><strong>Maximum Guests:</strong> <%= yacht.max_guest %></p>
        <p><strong>Cabin Count:</strong> <%= yacht.cabin %></p>
        <p><strong>Price per Day:</strong> £<%= yacht.price_per_day %></p>
        <p><strong>Description:</strong> <%= yacht.description %></p>
        <div class="detail-btn">
        <% if user_signed_in? %>
            <button type="button" class="button-card-index"> <a id="btn-text" href="<%= yacht_show_path(yacht) %>">View Details</a>
        <% else %>
            <button type="button" class="button-card-index"> <a id="btn-text">Please sign in to View Details</a>
        <% end %>
        </div>
        </div>
      </div>
    </div>
  <% end %>

</ul>


<%= console%>
