<div class="container">
<h1>Create a New Yacht Listing</h1>

<%= simple_form_for [@yacht] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :max_guest %>
  <%= f.input :cabin %>
  <%= f.input :price_per_day %>
  <%= f.input :description %>
  <%= f.input :yacht_image, as: :file %>
  <%= f.input :yacht_interior_image, as: :file %>
  <%= f.input :yacht_cabin_image, as: :file %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Yachts', yachts_path %>

</div>
