    <p><strong>Yacht Model</strong> <%= @yacht.name %></p>
    <%= image_tag @yacht.yacht_image, class:"yacht_photos_show_page" %>
    <p><strong>Maximum Guests:</strong> <%= @yacht.max_guest %></p>
    <p><strong>Cabin Count:</strong> <%= @yacht.cabin %></p>
    <p><strong>Price per Day:</strong> £<%= @yacht.price_per_day %></p>
    <p><strong>Description:</strong> <%= @yacht.description %></p>



<!-- <p><a href="<%= edit_yacht_path(@yacht) %>">Edit Yacht</a></p> -->
<!-- Comment: This link is for editing the yacht, not needed in this context -->

<%= link_to 'Back to Yachts', yachts_path %>
<%# <%= button_to 'Delete Yacht', yacht_path(@yacht), method: :delete, data: { confirm: 'Are you sure you want to delete this yacht?' }%>
<!-- Comment: This button is for deleting the yacht, not needed in this context -->

<%= link_to 'Book this Yacht', new_booking_path %>
