<div class="yacht-card-rows-show">
  <div class="image-rating-card">
    <div class="left-section-yacht-show">
      <div class="scroll-container">
        <%= image_tag @yacht.yacht_image, class: "yacht_photos-show" %>
        <%= image_tag @yacht.yacht_interior_image, class: "yacht_photos-show" %>
        <%= image_tag @yacht.yacht_cabin_image, class: "yacht_photos-show" %>
      </div>

      <div style= "margin-top: 1vw;">
      <p><strong>Yacht Model</strong> <%= @yacht.name %></p>
      <p><strong>Maximum Guests</strong> <%= @yacht.max_guest %></p>
      <p><strong>Cabin Count</strong> <%= @yacht.cabin %></p>
      <p><strong>Price per Day</strong> £<%= @yacht.price_per_day %></p>
      <p><strong>Onboard Chef</strong> <%= Faker::Name.name_with_middle %> who has <%= Faker::Number.between(from: 10, to: 30) %>+ years experience!</p>
      <p><strong>Onboard Driver</strong> <%= Faker::Name.name_with_middle %> who has <%= Faker::Number.between(from: 10, to: 30) %>+ years experience!</p>
      <p><strong>Description</strong> <%= @yacht.description %></p>
      <p><strong>Address</strong> <%= @yacht.address %></p>
      </div>

    </div>
    <div class="right-section-yacht-show">
      <div class="review-spacer-show">
        <div id="map-in-yacht-show-page"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <button class="button-yacht-show-booking" style= "">
          <% if @yacht.user_id == current_user.id %>
            <%= link_to 'Edit this Yacht', edit_yacht_path(@yacht) %>
          <% else %>
            <%= link_to 'Book this Yacht', new_user_yacht_booking_path(current_user, yacht_id: @yacht) %>
          <% end %>
        </button>
        <button class="button-yacht-show-booking`">
        <%= link_to 'Create Review', new_yacht_review_path(yacht_id: @yacht)%>
        </button>
        <% @yacht.reviews.each do |review| %>
          <div class="yacht-review-card-show">
            <p><strong>Rating:</strong> <%= review.rating %></p>
            <p><strong>Comment:</strong> <%= review.comment %></p>
            <p><strong>By <%= Faker::Name.first_name %></strong></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%=console%>
